<ion-menu [content]="content">


  <ion-content>
    <ion-item style="background-color: transparent" no-lines>






      <div *ngIf="userProfile">
        <div text-center>


          <ion-avatar menuToggle no-lines>
            <!-- <ion-text-avatar [ngStyle]="{'background-color':getRandomColor()}" *ngIf="isAvatar">{{ initials }}</ion-text-avatar> -->
            <img style="margin-left: 45%" [src]="userProfile.photoURL">


          </ion-avatar>
        </div>
        <div text-center padding>
          <ion-title text-wrap
            style="white-space: nowrap;font-size:1.3rem !important;margin-right: 0 !important;padding-top: 5px;">
            {{userProfile.displayName}}</ion-title>

          <!-- <ion-title style="font-size:1.5rem !important;margin-right: 0 !important;">
            <p style="color:blue">
              <ion-icon name="create" item-left></ion-icon>Edit Profile
            </p>
          </ion-title> -->
        </div>
      </div>

    </ion-item>


    <ion-list no-lines>

      <ion-item style="background-color: rgba(0, 0, 0, 0);" *ngFor="let p of pages" menuClose (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{ p.title }}
      </ion-item>




    </ion-list>










  </ion-content>

</ion-menu>


<ion-nav #content [root]="rootPage"></ion-nav>
