// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



#jj img{
  height: auto;
   width: 110%;
}

#jj {
  // width: 40%;
  padding: 5%;
  // margin-left:35%;
  // height: 100px;
}

.toolbar-background{
  // background-color:#049cd8;
  background-color:transparent;
  color:white;
}

// .toolbar-background{
// // background-color:#00b7ff5a;
// background-image: linear-gradient(to bottom, #049cd86e 0%, #76c7f0f8 100%);
// color:white;
// }


#sideMenuProfilePic{
  -webkit-flex: 0 0 70px;
  flex: 0 0 70px;
}




#sideMenuImage{
  height: auto;
  width: 80%;
  border-radius: 50%;
}

#sideMenuImageAvatar {

  padding: 5%;
 
}
 #sideMenuName {

  margin-right: 0 !important;
  padding-top: 15px;
  padding: 0px;
  }

.ios #sideMenuName {

  margin-top: -12px;
  }

  #editProfile{
    font-size:1.2rem !important;margin-right: 0 !important;
    
  }
  #editProfileParagraph{
  color:black; margin-top: 5px;font-size: 1.1rem;
  padding-top: 20px;
  }

  #sideMenuNameCol{
    margin-left: -22px;
    margin-top: 12px;
  }

  #sideMenuLogo{
    border-bottom: 1px solid #dddddd;
  }

  #sideMenuLogo img{
    height:15vh;
  }

  #chilLogo{
    width: 50%;margin-left:30%;margin-top: 30px;bottom:10px;
  }

ion-content {
  // background-image: linear-gradient(to bottom, #b332248a 0%, #212527f8 100%);
  background-image: url('../assets/img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

ion-title{
  margin-right: 44px;
}

page-menu {

  ion-col {

  &:first-of-type {

    flex: 0 0 70px;

  }




}





}
